<div class="jumbotron">
  <h1 class="display-4">Devour da burger</h1>
  <small class="form-text text-muted">Keep track of those tasty burgers you want to eat</small>
  <hr class="my-4">

  <div class="container">
    <div class="row">

      <div class="col-4">
        {{#each burgers}}
        {{> burgers/burger-block }}
        {{/each}}
      </div>

      {{!-- form --}}
      <div class="container burger-form col-4">
        <form class="burger-form">
          <div class="form-group">
            <label for="burgerInput">What is the name of your next burger?</label>
            <input type="text" class="form-control" id="burgerInput" aria-describedby="add a new burger">
          </div>
          <button type="submit" class="btn btn-primary" id="subBtn">Submit</button>
        </form>
      </div>

      <div class="col-4">
        <div class="container right-container">
          <div class="card" style="width: 18rem;">
            <img src="https://via.placeholder.com/150" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{hasBeenEaten}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>



  </div>


</div>