<div class="container">
	<div class="card" style="width: 18rem;">
		<img src="https://via.placeholder.com/150" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title">{{name}}</h5>
			<p class="card-text">{{hasBeenEaten}}</p>
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-primary">Devour it!</a>
		</div>
	</div>
</div>